.authHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed var(--blackColor);
}

.authHeader div {
  display: flex;
}

.authHeader div .logout_button {
  margin-left: 0.5rem;
}

.authHeader .burger_container {
  display: none;
}

@media(max-width:960px) {
  .authHeader .burger_container {
    display: block;
  }

  .authHeader .mainNavigation_container {
    display: none;
  }
}