.fullPost>* {
  margin: 0.75rem 0;
}

.fullpost_buttons {
  display: flex;
  margin-top: 1.5rem;
}

.fullpost_buttons button {
  margin-right: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.fullpost_buttons form button:disabled {
  opacity: 1;
  background-color: unset;
}

.fullpost_buttons button:disabled svg {
  fill: var(--grayColor);
}

.fullpost_buttons svg {
  width: 2.5rem;
  height: 2.5rem;
}

.fullpost_buttons button::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: .4s ease-in;
}

.fullpost_buttons button:hover::before {
  width: 4rem;
  height: 4rem;
  background-color: var(--grayColor);
  border-radius: 50%;
  opacity: 0.4;
}

.dark .fullpost_buttons button:hover::before {
  background-color: var(--primaryColor);
}

.fullPost_titleAndPhoto_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullPost_titleAndPhoto_container h1 {
  width: calc(100vw - 10rem);
  font-size: 2.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.fullPost_titleAndPhoto_container img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  border: 7px solid var(--primaryColor);
}

.fullPost_text {
  margin: 3rem 0;
  font-size: 1.25rem;
}

.fullPost ul {
  display: flex;
  flex-wrap: wrap;
}

.fullPost_tag {
  font-size: 1.2rem;
  margin-right: 1rem;
  filter: drop-shadow(0px 5px 5px var(--secondaryColor));
}

.fullPost_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.fullPost_like_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.25rem;
}

.fullPost_like_button svg {
  height: auto;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.fullPost_like_button span {
  font-size: 0.85rem;
}