.fullPost>* {
  margin: 1.5rem 0;
}

.fullPost_titleAndPhoto_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullPost_titleAndPhoto_container h1 {
  width: calc(100vw - 10rem);
  font-size: 2.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
}



.fullPost_titleAndPhoto_container a:hover {
  filter: drop-shadow(0px 0px 5px var(--secondaryColor));
}

.fullPost_titleAndPhoto_container img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 3px var(--secondaryColor);
}

.fullPost_text {
  margin: 3rem 0;
  font-size: 1.25rem;
}

.fullPost_text img {
  max-width: 100%;
  width: auto;
  height: 15rem;
  object-fit: contain;
}

.fullPost ul {
  display: flex;
  flex-wrap: wrap;
}

.fullPost_tag {
  font-size: 1.2rem;
  margin-right: 1rem;
  filter: drop-shadow(0px 5px 5px var(--secondaryColor));
}

.fullPost_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.fullPost_like_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.25rem;
}

.fullPost_like_button svg {
  height: auto;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.fullPost_like_button span {
  font-size: 0.85rem;
}

.fullPost .social_icons svg {
  fill: currentColor;
}

.fullPost .share_like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share_like div {
  display: flex;
  align-items: center;
  min-width: 3rem;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
}

.like_container button {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}

.like_container svg {
  fill: var(--background);
  stroke: var(--secondaryColor);
  filter: drop-shadow(0 0 5px var(--glitchColor3));
  width: 1.75rem;
  height: 1.75rem;
}

.user_liked svg {
  fill: var(--glitchColor1);
}

.like_container button:active {
  filter: drop-shadow(0 0 15px var(--glitchColor3));
  transform: scale(0.9);
}

.like_container button:active svg {
  fill: var(--glitchColor1);
}

.like_container button:hover svg {
  transform: scale(1.1);
}