.userProfileAvatar_link {
  border-radius: 50%;
  position: relative;
  height: 2rem;
  width: 2rem;
  margin: auto 0 auto 0.5rem;
  box-shadow: 0 0 4px var(--primaryColor);
}

.userProfileAvatar_link:hover {
  filter: unset;
  box-shadow: 0 0 8px var(--primaryColor);
}

.userProfileAvatar_link img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}