.filter_categories_checkboxContainer,
.filter_brand_checkboxContainer,
.filter_gender_checkboxContainer {
  display: flex;
}

.filter_categories {
  padding: 1rem 0.3rem;
}

.filter_categories h3 {
  margin: 0.5rem 0;
}

.filter_categories div .input_container input {
  width: 100%;
  background-color: var(--primaryColor);
}

.dark .filter_categories div .input_container input {
  --secondaryColor: #000;
  --primaryColor: #fff;
}

.price_container {
  display: flex;
  justify-content: space-between;
}

.price_container .input_container {
  width: 5rem;
}

.filter_categories select {
  width: 100%;
  padding: 0.5rem 0.4rem;
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}

.dark .filter_categories select {
  --secondaryColor: #000;
  --primaryColor: #fff;
}

.filter_categories ul .checked,
.filter_categories ul li:hover {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.filter_categories ul li:hover {
  transition: .4s ease;
}

.dark .filter_categories ul .checked,
.dark .filter_categories ul li:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.filter_categories ul li {
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  padding: 0.3rem 0.1rem;
}

.filter_categories ul li .checkbox_wrapper {
  width: 100%;
}

.filter_categories ul li label {
  cursor: pointer;
  width: 100%;
}

li:hover .checkbox_wrapper .cbx span:first-child {
  border-color: #000;
}

@media(max-width:960px) {
  .filter_categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .filter_categories:last-child {
    margin-right: 0;
  }
}

@media(max-width:450px) {
  .price_container {
    justify-content: space-around;
  }
}