.usersTable_row td {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  border-right: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
  overflow-wrap: break-word;
}

.usersTable_row td button {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.usersTable_row td button span {
  text-transform: capitalize;
  margin-left: 0.2rem;
}