.usersTable_row td {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  border-right: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
  min-width: 6rem;
}

.usersTable_row td button {
  text-transform: capitalize;
}