.profileForm {
  width: 500px;
  margin: 0 auto;
}

.profileForm>* {
  margin: 0.75rem 0;
}

.profileForm {
  display: flex;
  flex-direction: column;
}

.profileForm .input_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileForm .input_container textarea {
  resize: none;
}