.products>* {
  margin: 1.5rem 0;
}

.filtersAndProducts {
  display: flex;
}

.filtersAndProducts_filters {
  min-width: 200px;
  margin: 0 20px 0 0;
  background: var(--secondaryColor);
  color: var(--primaryColor);
  height: fit-content;
}

.dark .filtersAndProducts_filters {
  background: var(--primaryColor);
  color: var(--secondaryColor);
}

@media(max-width:960px) {
  .filtersAndProducts {
    display: block;
  }

  .filtersAndProducts_filters {
    width: 100%;
    min-width: unset;
    margin: 1rem 0;
  }
}