.callUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callUs>* {
  margin: 0.2rem 0;
}

.callUs p {
  margin-right: 0.25rem;
}

.callUs p,
.callUs a {
  font-weight: 700;
  font-size: 1.75rem;
}

.callIcons {
  display: flex;
}

.callUs svg {
  height: auto;
  width: 2rem;
}