/* .AddEditUserForm button {
  width: fit-content;
  margin: 0 auto;
} */


.AddEditUserForm .input_container {
  margin: 0.2rem 0;
}

.AddEditUserForm .file_upload_single label {
  --secondaryColor: #fff;
  height: 150px;
}

.AddEditUserForm .file_upload_single label h5 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.AddEditUserForm .file_upload_single label .person_lottie {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.AddEditUserForm .file_upload_single label .person_lottie svg {
  width: 80px !important;
  height: 80px !important;
}

.AddEditUserForm .file_upload_single label .person_lottie img {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}