.AddEditUserModal {
  margin: 0;
  padding: 0 1.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  border-radius: 2rem;
}

.AddEditUserModal h3,
.AddEditUserModal button {
  text-transform: capitalize;
}

.AddEditUserForm {
  align-items: center;
}

.AddEditUserForm button {
  width: fit-content;
  margin: 0 auto;
}

@media(max-width:500px) {
  .AddEditUserModal {
    max-width: 280px;
  }
}