.profileMainInfo_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileMainInfo_card h1 {
  font-size: 3rem;
}

.profileMainInfo_card img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--whiteColor);
}