.layout {
  max-width: var(--rootContainerSize);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width:1250px) {
  .layout {
    margin: 0 1rem;
  }
}