:root {
  --rootContainerSize: 1250px;
  --primaryColor: #fff;
  --secondaryColor: #000;
  --blackColor: #000;
  --whiteColor: #fff;
  --grayColor: #555;
  --background: linear-gradient(to bottom right,
      #ffffff,
      #cac7ce,
      #a19da8 70%);
}

.dark {
  --primaryColor: #000;
  --secondaryColor: #fff;
  --blackColor: #ffffff;
  --whiteColor: #0a0a0a;
  --grayColor: #555;
  --background: linear-gradient(to bottom right,
      #918f8f,
      #555457,
      #2c2b2e 70%);
}

svg {
  fill: var(--secondaryColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--secondaryColor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blackColor);
}

a:hover {
  filter: drop-shadow(0px 5px 5px var(--grayColor));
  transition: ease .5s;
}

button,
.button {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25rem;
  border: 2px solid var(--blackColor);
  border-radius: 5px;
  background-color: var(--whiteColor);
  font-weight: 700;
  color: var(--blackColor);
}

button:hover,
.button:hover {
  filter: invert(1);
  transition: ease .5s;
}

.resetButtonStyles {
  background-color: unset;
  border: unset;
  border-radius: unset;
  padding: unset;
  font-weight: 400;
}

.resetButtonStyles:hover {
  filter: unset;
  transition: unset;
}

section {
  margin: 0.75rem 0;
}

@media(max-width:1024px) {
  html {
    font-size: 14px;
  }
}