.editPostForm_container .textEditor .ql-container {
  height: 100px;
  margin-top: 0;
  border-radius: 0;
  color: var(--secondaryColor);
}

.editPostForm_container .textEditor .placeholder {
  height: 182px;
}

.editPostForm_container .textEditor .ql-toolbar,
.editPostForm_container .textEditor .ql-toolbar.ql-snow {
  background-color: var(--background);
  border-radius: 0;
}

@media(max-width:600px) {
  .editPostForm_container .textEditor .placeholder {
    height: 182px;
  }
}

@media(max-width:500px) {
  .editPostForm_container .textEditor .placeholder {
    height: 214px;
  }
}

@media(max-width:332px) {
  .editPostForm_container .textEditor .placeholder {
    height: 182px;
  }
}