.table_wrapper .table_UI .ordersTable td button {
  white-space: nowrap;
}

.table_wrapper .table_UI .ordersTable td button span {
  margin: 0;
}

.ordersTable a img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: top;
}

.ordersTable tbody .orderTable_user_container {
  position: relative;
}

.ordersTable tbody .orderTable_user_container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ordersTable .checkbox_wrapper .cbx {
  display: block;
}

.ordersTable .checkbox_wrapper label {
  width: fit-content;
}

.ordersTable .checkbox_wrapper .cbx span:first-child {
  border: 1px solid var(--secondaryColor);
}

.ordersTable .checkbox_wrapper .cbx span:first-child:before {
  background: var(--secondaryColor);
}

.ordersTable .checkbox_wrapper .cbx:hover span:first-child {
  border-color: var(--secondaryColor);
}

.ordersTable .checkbox_wrapper .inp-cbx:checked+.cbx span:first-child {
  background: var(--secondaryColor);
  border-color: var(--secondaryColor);
}

.ordersTable .checkbox_wrapper .cbx span:first-child svg {
  stroke: var(--primaryColor);
}