.nav_list {
  display: flex;
}

.nav_list li {
  margin-right: 0.5rem;
}

.nav_list li:last-child {
  margin-right: 0;
}

.nav_list a {
  font-size: 1.5rem;
}

.nav_list .navLink {
  border-bottom: 1px solid transparent;
}

.nav_list .navLink_active {
  border-bottom: 1px solid var(--primaryColor);
}