.products_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

@media(max-width:1024px) {
  .products_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
}

@media(max-width:650px) {
  .products_list {
    grid-template-columns: repeat(1, 1fr);
  }
}