.notAuthHeader {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-radius: 0 0 20px 20px;
}

.notAuthHeader a {
  color: var(--primaryColor);
}

.notAuthHeader svg {
  fill: var(--primaryColor);
}

.notAuthHeader div {
  display: flex;
}