footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px dashed var(--blackColor);
}

#footer .nav_list {
  flex-direction: column;
}

#footer .nav_list a {
  font-size: 1rem;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer form>* {
  margin: 0.25rem 0;
}

footer form input {
  padding: 0.25rem 0;
  border-radius: 5px;
  border: 1px solid var(--blackColor);
}