.fullpost_buttons,
.fullPost .fullpost_buttons {
  display: flex;
  margin-top: 1.5rem;
}

.fullpost_buttons button {
  margin-right: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.fullpost_buttons form button:disabled {
  opacity: 1;
  background-color: unset;
}

.fullpost_buttons button:disabled svg {
  fill: var(--grayColor);
}

.fullpost_buttons svg {
  width: 2.5rem;
  height: 2.5rem;
}

.fullpost_buttons button::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: .4s ease-in;
}

.fullpost_buttons button:hover::before {
  width: 4rem;
  height: 4rem;
  background-color: var(--grayColor);
  border-radius: 50%;
  opacity: 0.4;
}

.dark .fullpost_buttons button:hover::before {
  background-color: var(--primaryColor);
}