.post_container .card {
  padding: 0;
  margin: 0;
}

.post_container .card .card_border_2::before,
.post_container .card .card_border_2::after,
.post_container .card .card_border_1::before,
.post_container .card .card_border_1::after {
  filter: drop-shadow(0 0 8px var(--glitchColor3));
  box-shadow: 0 0 0.3rem var(--glitchColor3),
    0 0 0.5rem var(--glitchColor3),
    inset 0 0 1.5rem var(--glitchColor2);
}

.post_container .card .card_border_1::before {
  width: 100%;
}

.post_container .card .card_border_1::after {
  height: 100%;
}

.post_container .card .card_border_2::after {
  height: 100%;
}

.post_container .card .card_border_2::before {
  width: 100%;
}


#blog .card {
  margin: 2rem 0;
}

.titleAndPhoto_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.titleAndPhoto_container a:hover {
  filter: drop-shadow(0px 0px 5px var(--secondaryColor));
}

.titleAndPhoto_container img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 0 1px var(--secondaryColor);
}

.blog_text {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog_text img {
  display: none;
}

.post_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_info ul {
  display: flex;
  flex-wrap: wrap;
}

.blog_tag {
  margin-right: 1rem;
  filter: drop-shadow(0px 5px 5px var(--secondaryColor));
}

.post_info_like_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.25rem;
}

.post_info_like_button svg {
  height: auto;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.post_info_like_button span {
  font-size: 0.85rem;
}

.post_viewFullButton {
  padding: 0.15rem;
  border: 2px solid var(--secondaryColor);
  border-radius: 5px;
  background-color: var(--primaryColor);
  font-weight: 700;
  text-align: center;
}

.post_viewFullButton:hover {
  filter: invert(1);
}

.post_timeLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_like {
  display: flex;
  align-items: center;
  min-width: 3rem;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
}

.post_like svg {
  margin-right: 0.25rem;
  filter: drop-shadow(0 0 5px var(--glitchColor3));
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--glitchColor1);
}