#blog .card {
  margin: 2rem 0;
}

.titleAndPhoto_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleAndPhoto_container img {
  border-radius: 50%;
  border: 3px solid var(--primaryColor);
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.blog_text {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_info ul {
  display: flex;
  flex-wrap: wrap;
}

.blog_tag {
  margin-right: 1rem;
  filter: drop-shadow(0px 5px 5px var(--secondaryColor));
}

.post_info_like_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.25rem;
}

.post_info_like_button svg {
  height: auto;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.post_info_like_button span {
  font-size: 0.85rem;
}

.post_viewFullButton {
  padding: 0.15rem;
  border: 2px solid var(--secondaryColor);
  border-radius: 5px;
  background-color: var(--primaryColor);
  font-weight: 700;
  text-align: center;
}

.post_viewFullButton:hover {
  filter: invert(1);
}