.products_list a {
  font-size: 1.25rem;
  font-weight: 700;
}

.productDescription_container {
  flex-grow: 1;
}

.productDescription_container p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.products_list .card img {
  width: auto;
  max-width: 100%;
  height: 10rem;
  margin: 0 auto;
  object-fit: contain;
}

.products_list button {
  min-width: fit-content;
  width: 50%;
}