.notAuthFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--rootContainerSize);
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--secondaryColor);
}