.authFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--rootContainerSize);
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--secondaryColor);
}

.footer_links ul li {
  margin: 0.25rem 0;
}

.authFooter .nav_list {
  flex-direction: column;
}

.authFooter .nav_list a {
  font-size: 1rem;
}

.authFooter .nav_list .navLink_active {
  border-bottom: 1px solid var(--secondaryColor);
}