.fullProduct {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.fullProduct_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.fullProduct_info>* {
  margin-bottom: 1rem;
}

.fullProduct_info h1 {
  font-size: 2rem;
}

.fullProduct_info p span,
.starRating span {
  font-size: 1.2rem;
  font-weight: 700;
}

.starRating {
  display: flex;
  height: 3rem;
  align-items: center;
}

.fullProduct_info p {
  font-size: 1.15rem;
}

.fullProduct_info .fullProduct_info_price,
.fullProduct_info .fullProduct_info_price span {
  font-size: 1.35rem;
  font-weight: 700;
}

.fullProduct .button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullProduct_info button {
  width: fit-content;
}

@media(max-width:900px) {
  .fullProduct {
    flex-direction: column;
    align-items: unset;
  }

  .fullProduct .thumbnail {
    position: relative;
    width: 100%;
  }

  .fullProduct .thumbnail img {
    object-fit: contain;
  }

  .fullProduct_info {
    margin: 2rem 0 0 0;
  }
}

@media(max-width:330px) {
  .starRating span:first-child {
    display: none;
  }

  .starRating .stars .rate {
    padding: 0;
  }
}